# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Env
.env
.env.local
infra/.env

# Backend (Gradle / Java)
backend/build/
backend/.gradle/
backend/out/
*.hprof

# Frontend (Next.js)
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/next-env.d.ts
frontend/.turbo/

# BFF (NestJS)
bff/node_modules/
bff/dist/
bff/coverage/

# Logs
*.log
npm-debug.log*
